input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

label {
  font-weight: bold;
  margin-right: 1rem;
}

input {
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(75, 75, 75);
  background-color: rgb(95, 95, 95);
  font: inherit;
  padding-left: 0.2rem;
}
